body {

    background-color: black;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

::selection {

    background-color: red;
    color: black;

}

::-moz-selection {

    background-color: red;
    color: black;

}

.h2andh3 {

    text-align: center;
    font-size: 2vw;

}

.buttons_container {

    display: flex;
    justify-content: center;

}

.button {

    width: 100px;
    height: 100px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: black;
    border: none;
    background-color: red;
    border-radius: 70px;

}

.button:hover {

    

}

.topbarbuttons {

    width: 15vw;
    height: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    border: none;
    background-color: red;

}