body {

    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

::selection {

    background-color: white;
    color: black;

}

::-moz-selection {

    background-color: white;
    color: black;

}

.h1andh2andh3 {

    text-align: center;

}

.buttons {

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}